.App {
    text-align: center;
    font-size: 35px;
    margin-top: 20%;
}

.App-title {
    font-size: 50px;
}

.Clock-hours,
.Clock-minutes,
.Clock-seconds,
.Clock-days {
    display: inline;
    margin: 10px
}

.Deadline {
    font-size: 25px;
    margin: auto;
    margin-top: 30px;
    width: 30%;
    size: 70%;
    text-align: center
}